<div id="page">
  <app-nav-bar></app-nav-bar>
  <main>
    <section class="section-intro">
      <div class="text-content">
        <h1>Seja Bem-vindo</h1>
        <p>Conectandos talentos e empresas de tecnologia</p>
      </div>
      <img
        src="../../assets/img/org-193866_school-194999_3d28d3eb85c3493279f83be4a6093cbb_editables+campinho+digital-04+(1) 1.png"
        alt="">
    </section>
    <section class="section-btn">

      <button><a routerLink="/pageform">Sou Talento</a></button><button><a href="#">Sou Empresa</a></button>
    </section>


  </main>
</div>
<app-footer></app-footer>