<div class="page">
  <nav>
    <a routerLink="/home">
      <img src="../../../assets/img/logoCampinho.png" alt="Logo marca campinho">
    </a>
    <ul class="nav-list">
      <li>
        <a href="">Inicio</a>
      </li>
      <li>
        <a href="">Sobre nós</a>
      </li>
    </ul>
  </nav>
  <div class="title-content">
    <img
      src="../../assets/img/org-193866_school-194999_3d28d3eb85c3493279f83be4a6093cbb_editables+campinho+digital-04+(1) 1.png"
      alt="logo campinho digital">
    <div class="text-title-content">
      <h1>Encontre aqui seu Talento!</h1>
      <p>Clique no Botão abaixo para Caregar a lista de talentos da Campinho Digital</p>
    </div>
  </div>
  <main>
    <button class="btn-get">Carregar Lista De Talentos <img src="../../assets/img/lupa.svg"
        alt="svg de uma lupa"></button>

    <div class="content">
      <!--=====================CARD============================-->
      <div class="card-candidate" *ngFor="let user of listaTalentos">

        <div class="perfil">
          <div class="perfil-img">
            <img src="../../assets/img/1649732376308.jpg" alt="foto de perfil">
          </div>
          <div class="text-infor-candidate">
            <h2>{{user.name}}</h2>
            <h3>Habilidade</h3>
            <p>{{user.habilidade}}</p>
          </div>
        </div>
        <div class="btn-card">
          <a>{{user.linkedin}}</a>
          <a>{{user.github}}</a>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>