<main class="login">
    <div class="login__container">
        <div class="imagem">
            <img src="../../assets/img/org-193866_school-194999_3d28d3eb85c3493279f83be4a6093cbb_editables+campinho+digital-04+(1) 1.png" alt="logo">
        </div>
        <p> Seu talento esta aqui</p>
        <h1 class="login__title">Faça seu Login</h1>
        <form class="login__form">
            <input class="login__input" type="email" placeholder="E-mail">
            <input class="login__input" type="password" placeholder="Senha">
            <a routerLink="/home"><button class="login__submit">Entrar</button></a>
            <a class="create__acount" href="#">Criar conta</a>
        </form>
    </div>
</main>