<div id="page">
  <app-nav-bar></app-nav-bar>
  <main>
    <div class="infor-page">
      <img
        src="../../assets/img/org-193866_school-194999_3d28d3eb85c3493279f83be4a6093cbb_editables+campinho+digital-04+(1) 1.png"
        alt="logo campinho talent">
      <div class="infor-text">
        <h1>Bem vindo candidato!</h1>
        <p>Que bom que está aqui! Esse cantinho é o lugar onde queremos te conhecer melhor, preencha o formulário
          abaixo,
          quando
          você concluir suas habilidades e informações de contato estará disponivel para empresas/recrutadores ver! Bem
          legal não
          é mesmo? então vamos lá!</p>
      </div>
    </div>

    <form id="my-form">
      <fieldset>
        <div class="perfil-img">
          <img src="../../assets/img/1649732376308.jpg" alt="foto de perfil">

        </div>
        <div class="fieldset-content">
          <!--------------Name--------------->
          <div class="section-dual-input">
            <div>
              <label for="">Nome</label>
              <input type="text">
            </div>
            <div>
              <label for="">Sobrenome</label>
              <input type="text">
            </div>
          </div>
          <!--------------Email--------------->

          <div class="section-one-input">
            <label for="E-Email">E-Email</label>
            <input type="E-Email" name="E-Email" id="E-Email">
          </div>
          <!--------------Fone/linkedin--------------->

          <div class="section-dual-input">
            <div>
              <label for="">Telefone</label>
              <input type="Number" placeholder="(81)9-9985-4658">
            </div>
            <div>
              <label for="">Linkedin</label>
              <input type="text">
            </div>
          </div>
          <!--------------Dev-Área--------------->

          <div class="section-one-input">
            <label for="#">Área que você está se desenvolvendo</label>
            <input type="text" placeholder="Ex: Desenvolvimento web">
          </div>
          <!--------------Portifolio--------------->

          <div class="section-one-input">
            <label for="#">Link do portifolio/Github</label>
            <input type="text">
          </div>




        </div>

      </fieldset>
      <button class="btn" type="submit">Cadastrar</button>






    </form>
    <app-footer></app-footer>

  </main>

</div>